In [2]:
import pandas as pd
lap_times = pd.read_csv('lap_times.csv')
race_841 = lap_times.query('raceId == 841')

In [17]:
race_841.query('lap == 57')

      raceId  driverId  lap  position      time  milliseconds
56       841        20   57         1  1:30.516         90516
114      841         1   57         2  1:32.184         92184
172      841        17   57         5  1:30.472         90472
230      841       808   57         3  1:30.120         90120
288      841        13   57         9  1:30.803         90803
346      841        18   57         6  1:30.848         90848
426      841       155   57         8  1:31.229         91229
484      841         4   57         4  1:29.912         89912
542      841       814   57        12  1:36.350         96350
599      841        67   57        10  1:33.506         93506
656      841        16   57        11  1:32.473         92473
713      841         2   57        14  1:35.088         95088
770      841       815   57         7  1:31.709         91709
1063     841       153   57        13  1:34.478         94478

In [4]:
lap_positions = pd.DataFrame({'lap': [i for i in range(1,59)]}, \
                             columns = ['lap', 'first_driver', 'second_driver', 'third_driver'])

In [10]:
for i in range(1,59): 
    k = i
    lap_positions.iloc[i-1, 0] = i
    lap_positions.iloc[i-1, 1] = race_841.query('lap == @k').iloc[0,1]
    lap_positions.iloc[i-1, 2] = race_841.query('lap == @k').iloc[1,1]
    lap_positions.iloc[i-1, 3] = race_841.query('lap == @k').iloc[2,1]

In [11]:
lap_positions

    lap first_driver second_driver third_driver
0     1           20             1           17
1     2           20             1           17
2     3           20             1           17
3     4           20             1           17
4     5           20             1           17
5     6           20             1           17
6     7           20             1           17
7     8           20             1           17
8     9           20             1           17
9    10           20             1           17
10   11           20             1           17
11   12           20             1           17
12   13           20             1           17
13   14           20             1           17
14   15           20             1           17
15   16           20             1           17
16   17           20             1           17
17   18           20             1           17
18   19           20             1           17
19   20           20             1           17
20   21           20             1           17
21   22           20             1           17
22   23           20             1           17
23   24           20             1           17
24   25           20             1           17
25   26           20             1           17
26   27           20             1           17
27   28           20             1           17
28   29           20             1           17
29   30           20             1           17
30   31           20             1           17
31   32           20             1           17
32   33           20             1           17
33   34           20             1           17
34   35           20             1           17
35   36           20             1           17
36   37           20             1           17
37   38           20             1           17
38   39           20             1           17
39   40           20             1           17
40   41           20             1           17
41   42           20             1           17
42   43           20             1           17
43   44           20             1           17
44   45           20             1           17
45   46           20             1           17
46   47           20             1           17
47   48           20             1           17
48   49           20             1           17
49   50           20             1           17
50   51           20             1           17
51   52           20             1           17
52   53           20             1           17
53   54           20             1           17
54   55           20             1           17
55   56           20             1           17
56   57           20             1           17
57   58           20             1           17